.PageTitle {
  font-family: 'west_fighterregular', Arial, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #100e7e;
  text-shadow: 2px 2px 7px #191e5296;
  white-space: nowrap;
  margin: 0;
  height: 12rem;
  min-height: 5rem;
  flex-shrink: 1;
  display: flex;
  align-items: flex-end;
  cursor: default;
}

@media(min-width: 34rem) {
  .PageTitle {
    font-size: 4rem;
  }
}

.Buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0 0 0;
}

.Buttons .Button {
  margin: 0 0.5rem 1rem 0.5rem;
}

.Button {
  display: inline-block;
  padding: 0.5rem 1.5rem; 
  border: none;
  text-decoration: none;
  font-family: inherit;
  background-color: #090844;
  box-shadow: 2px 2px 3px #7c7c7c9a;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.Button:hover,
.Button:active,
.Button:focus {
  background-color: #100e7e;
  outline: none;
}