@import '../../assets/css/common.scss';

.Container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  align-items: center;
}

.Jokes {
  max-width: 70vw;
  margin: 2rem 0;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1.5rem 2rem;
  grid-auto-flow: dense;
}

.Button {
  margin-bottom: 2rem;
}